.login-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 97vh;
    background-image: url('https://cdn.pixabay.com/photo/2021/08/25/20/42/field-6574455_1280.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  
  .auth-container {
    background-color: rgba(255, 255, 255, 0.85);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  .auth-container h2 {
    color: #443f3f;
  }
  
  .auth-container input {
    padding: 5px;
    margin-bottom: 15px;
    width: 95%;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .auth-container button {
    padding: 10px;
    background-color: #5ab9e6;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  .auth-container button:hover {
    background-color: #206e92;
  }
  
  .error-message {
    color: red;
    font-size: 0.9rem;
  }